#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a200d; 
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}



.spinner-border{
    color: #40c351 !important;
    font-size: 200px;
}

.navbar-brand{
    color: #40c351 !important;
}

.navbar-toggler{
    border-color: #40c351 !important;
}

.nav-link.active{
    color: #40c351 !important;
}

.nav-link{
    color: #226b2c !important;
}

.navbar{
    background-color: #0a200d !important;
}

.rotation {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
    width: 100px;
    height: 100ox;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

#card-content {
    display: block;
}

.card {
    min-height: 700px;
}

.inner {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
}

#loading {
    display: flex;
}

button {
    border-color: #40c351 !important;
    color: #40c351 !important;
}

button:hover{
    background-color: #40c351 !important;
    color: white !important;
}

.table {
    line-height: 35px;
}